AD/textEditor/.nb-gradle/
AD/ejercicioDOM-SAX-JAXB/.nb-gradle/
AD/ejercicioDOM-SAX-JAXB/build/
AD/ejercicioDOM-SAX-JAXB/.idea/
AD/ejercicioDOM-SAX-JAXB/.gradle/
MyStuff/Python/TaskManagerBot/cogs/__pycache__
MyStuff/Python/TaskManagerBot/lib/__pycache__
AD/TareaFinal/.nb-gradle/
AD/TareaFinal/build/
AD/TareaFinal/.idea/
AD/TareaFinal/.gradle/
AD/TareaFinal/logixs.xml
AD/TareaFinal/logixs.xsd
MyStuff/Python/TFCDB/.idea/
MyStuff/Python/BLH/.idea/
MyStuff/Python/BLH/.env
MyStuff/Python/BLH/lib/__pycache__/
MyStuff/Python/BLH/cogs/__pycache__/
MyStuff/Python/BLH/database/database.db
MyStuff/Python/trTest/.idea/
AD/Disk/.nb-gradle/
AD/Disk/build/
AD/Disk/.idea/
AD/Disk/.gradle/
AD/MySQLFinal/.nb-gradle/
AD/MySQLFinal/build/
AD/MySQLFinal/.idea/
AD/MySQLFinal/.gradle/
AD/OracleFinal/.nb-gradle/
AD/OracleFinal/build/
AD/OracleFinal/.idea/
AD/OracleFinal/.gradle/
